# This file lists the Python packages required for the project.
# Use 'pip install -r requirements.txt' to install them.

# For PDF <-> Markdown conversion
PyMuPDF==1.24.2
fpdf2==2.7.8

# For HTML <-> Markdown conversion
beautifulsoup4==4.12.3
markdownify==0.11.1